{{ partial "header.html" . }}

{{ .Content }}
<ol>

    <li> {{ range .Site.Data.tv }}
 {{ .name }}
{{range .channels}}
   <a href="{{.web}}"><img src="{{.logo}}" alt="nombre" /> </a> s
{{end}}

</li>

{{ end }}
</ol>



<footer class="footline">
    {{with .Params.LastModifierDisplayName}}
        <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
        </div>
    {{end}}
</footer>

{{ partial "footer.html" . }}